<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>테스트</title>
</head>
<body>
    <div>
        <div style="justify-content: center; text-align: center; margin-top: 30px">
            <h3>무엇을 도와드릴까요?</h3>
        </div>
        <form action="/search" method="get" style="margin-top: 10px">
            <input name="keyword" type="keyword" placeholder="Search" aria-label="Search">
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>